.welcome {
  display: flex;
  margin-bottom: 18rem;

  @include tablet-small {
    flex-direction: column-reverse;
    gap: 20rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info-desc {
    margin-top: 38rem;
    max-width: 460rem;
    width: 100%;
    font-size: 23rem;
    margin-bottom: 48rem;

    @include desktop-small {
      margin-top: 30rem;
      margin-bottom: 40rem;
      font-size: 21rem;
    }
    @include tablet {
      margin-top: 25rem;
      margin-bottom: 35rem;
      font-size: 19rem;
    }
    @include mobile {
      margin-top: 20rem;
      margin-bottom: 30rem;
      font-size: 15rem;
    }
  }

  &__workspace {
    max-width: 371rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 24rem;
    margin-bottom: 18rem;

    @include mobile {
      gap: 10rem;
    }

    @include mobile-small {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 20rem;
    }
  }

  &__workspace-btn {
    padding: 12rem 46rem;
    border-radius: 16rem;
    background: #ffae33;
    box-shadow: 0rem 1rem 1rem 0rem rgba(0, 0, 0, 0.1);
    color: $color-txt-btn-extension;
    text-align: center;
    font: normal 700 18rem/125% var(--ff);
    text-wrap: nowrap;
    transition: var(--transition-btn);

    &:hover {
      color: $color-text-secondary;
      transform: var(-transform-btn-ext);
      box-shadow: 0rem 2rem 10rem $color-text-primary;
    }

    @include desktop-small {
      font-size: 17rem;
    }
    @include tablet {
      font-size: 16rem;
    }
    @include mobile {
      padding: 10rem 24rem;
      font-size: 14rem;
    }
  }

  &__workspace-btn-info {
    color: rgba(18, 16, 12, 0.7);
    font: normal 400 16rem/150% var(--ff);

    @include desktop-small {
      font-size: 15rem;
    }
    @include tablet {
      font-size: 14rem;
    }
    @include mobile {
      font-size: 12rem;
    }
  }

  &__social {
    display: flex;
    gap: 28rem;
  }

  &__social-link {
    width: 29rem;
    height: 29rem;
    
    & img {
      width: 100%;
      transition: var(--transition-btn);
      &:hover {
        color: $color-text-secondary;
        transform: scale(1.2);
      }
    }
    @include tablet {
      width: 27rem;
      height: 27rem;
    }
    @include mobile {
      width: 25rem;
      height: 25rem;
    }
  }

  &__img {
    max-width: calc(700 / 1310 * 100%);
    margin-inline: auto;
    padding: 20rem 0 0 70rem;
    display: flex;
    align-items: flex-end;

    & img {
      width: 100%;
    }

    @include desktop-small {
      padding: 0;
      padding-left: 50rem;
      flex-shrink: 0;
    }

    @include tablet-small {
      max-width: 70%;
      padding: 0;
    }

    @include mobile {
      max-width: 100%;
    }
  }
}
