.footer {
  background-color: $background-primary;

  &__container {
    padding: 48rem 65rem 32rem;
    max-width: 917rem;
    width: 100%;
    margin-inline: auto;

    @include mobile {
      padding: 30rem 35rem 20rem;
    }
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(auto-fit, 100rem);
    justify-content: space-between;
    padding-bottom: 48rem;
    gap: 40rem;

    @include mobile {
      justify-content: center;
    }

    @include mobile-small {
      grid-template-columns: 1fr;
      align-items: center;
    }
  }
  &__nav {
    color: $color-text-primary;
    font: var(--font-link-footer);
    width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7rem;
    @include mobile-small {
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 0 35rem;
    }
  }

  &__li {
    color: $color-text-primary;
    font: var(--font-link-footer);
    transition: var(--transition-btn);

    &:hover {
      color: $primary;
      transform: var(--transform-btn);
      text-shadow: 0rem 2rem 10rem $color-text-primary;
    }

    @include mobile-small {
      text-align: center;
    }

  }

  &__socials {
    padding-top: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20rem;

    border-top: 1rem solid $background-secondary;

    @include mobile {
      padding-top: 25rem;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    color: $color-text-primary;
    font: var(--font-link-footer);
    text-wrap: nowrap;
  }

  &__logo-img {
    max-width: 24rem;
    height: auto;
  }

  &__logo-txt {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  &__logo-year {
    font-size: 13rem;
  }

  &__link {
    
    display: flex;
    flex-direction: row;
    gap: 16rem;

    & img {
      max-width: 24rem;
      border-radius: 12rem;
    transition: var(--transition-btn);

    &:hover {
      color: $primary;
      transform: scale(1.2);
      box-shadow: 0rem 2rem 10rem $color-text-primary;
    }
  }

  }
}

.first-element-class {
  color: $color-text-bolt;
  font-weight: 700;
}

.element-mark {
  position: relative;
  &::after {
    content: "*";
    position: absolute;
    top: 0;
    right: -6rem;
    width: 4rem;
    color: $primary;
    font-family: $ff;
    font-size: 10rem;
    font-weight: 400;
    line-height: 0rem;
  }
}
