html {
  font-size: 1px;
  @include tablet {
    font-size: 0.9px;
  }

  @include tablet-small {
    font-size: 0.8px;
  }
  @include mobile {
    font-size: 0.7px;
  }  
  @include mobile-small {
    font-size: 0.6px;
  }  
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}


