.think {
  padding: 160rem 0;
  max-width: 1310rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  gap: 10rem;

  @include tablet {
    padding: 80rem 0;
  }

  @include tablet-small {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20rem;
  }

  &__img {
    padding-left: 73rem;
    max-width: 50%;
    margin-inline: auto;
    display: flex;
    align-items: flex-end;

    @include desktop-small {
      padding-left: 50rem;
    }

    @include tablet-small {
      padding-left: 0;
      max-width: 80%;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__img-container {
    max-width: 100%;
    margin-inline: auto;
    display: flex;
    border-radius: 20rem;
    box-shadow: 0rem 2rem 5rem 0rem rgba(0, 0, 0, 0.08);
    overflow: hidden;

    & img {
      width: 100%;
      object-fit: cover;
      border-radius: 20rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    @include tablet-small {
      max-width: 100%;
    }
  }

  &__info-container {
    width: 100%;
  }

  &__info-title {
    padding-bottom: 8rem;
  }

  &__info-desc {
    line-height: 133%;
    padding-bottom: 135rem;

    @include desktop-small {
      padding-bottom: 80rem;
    }
    @include tablet-small {
      padding-bottom: 70rem;
    }
    @include tablet {
      padding-bottom: 40rem;
    }
    @include mobile {
      padding-bottom: 30rem;
    }
  }

  &__info-btns {
    display: flex;
    gap: 16rem;
    padding-top: 16rem;
    @include mobile {
      flex-direction: column;
      align-items: center;
    }
  }

  &__btns {
    min-width: 162rem;
    max-width: 162rem;
    text-align: center;
    text-wrap: nowrap;
    color: $color-title;
    padding: 8rem 19rem;
    border-radius: 10.5rem;
    box-shadow: 0rem 1rem 1rem 0rem rgba(0, 0, 0, 0.1);
  }
}
.btn-l {
  background: #ffae33;
}
.btn-r {
  background: #ffb0ae;
}
