.project {
  padding: 160rem 0;
  max-width: 1077rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  @include tablet {
    padding: 80rem 0;
  }

  &__title {
    color: $color-title;
  }

  &__subtitle {
    color: $color-subtitle;
    font-weight: 400;
    line-height: 63.72rem;
    text-decoration-line: line-through;
  }
}
